.user-preview {
    height: 300px;
    width:85%;
    display: flex;
    flex-direction: row;
    margin: 20px 100px;
    overflow: hidden;
    box-shadow: 15px 15px 20px 0px black;
    border-radius: 25px;

    &:hover {
        cursor: pointer;

        &.user-image {
            transform: scale(1.1);
            transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }
    }
    .user-image {
        height: auto;
        width: 20%;
        border-radius: 10px;
        .background-image {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    .user-details {
        height: auto;
        width: 80%;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .title {
            font-weight: bold;
            color: #4a4a4a;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 0px;
        }
        .subtitle {
            font-weight: bold;
            // font-size: 12px;
            color: #4a4a4a;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .description {
            font-size: 14px;
            overflow: hidden;
        }
    }
}
